/* 
Autor: Alejandra Yannone
Fecha: Octubre de 2022
*/

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    font-family: 'open sans', sans-serif;
    height: 100%;
}

body, header, main, footer {
    /* border: 3px red solid;*/
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 100%;

 }

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
 }

.header, .nav, .contenedor-footer {
    flex-grow: 1;
    flex-basis: 100%;
}

.titulo {
    color: darkgreen;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Header */

header {
    width: 100%;
    height: 20%;
   /** background: #EFEFBB;  /* fallback for old browsers */
   /** background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
   /** background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
   background: #D3CCE3;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right,  #e9e4f085, #d3cce38c), url(../img/Sucursal64.jpg);  
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #e9e4f08e, #d3cce377), url(../img/Sucursal64.jpg); 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover;
   background-attachment: fixed;
   position: relative;
  
}
  
nav {
    text-align: center;
    /* justify-content: space-between; */
    padding: 50px 50px 0 0; 
    max-width: 100%;
/*    margin: 0 auto;*/
    }
nav > a{
    color: rgba(3, 15, 3, 0.966);
    text-decoration: none;    
    font-weight: bold;
    margin-right: 10%;
    text-align: center;
    position: relative;

}
nav > a:hover{
    color: rgb(86, 207, 86);
    text-decoration: underline;
}
/*
.my-element {
    display: inline-block;
    margin: 0 0.5rem;  
    color: #137740;
    animation: bounce; /* referring directly to the animation's @keyframe declaration 
    animation-duration: 2s; /* don't forget to set a duration! 
  }*/

.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* hacer que estos textos h1 y h2 tengan animancion*/
.textos-header h1{
    font-size: 50px;
    color:black;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color: black;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Main */

.textos-main h1{
    font-size: 50px;
    color:#0d0225a9;
}

.textos-main h2{
    font-size: 30px;
    font-weight: 300;
    color:rgb(86, 207, 86);
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    color: rgb(44, 24, 100);
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: aqua;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;   
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */
 
.portafolio{
    background: rgb(205, 219, 211);
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}  

.imagen-port{
    width: 32%;
    margin-bottom: 10px;
    /*height: 180px;*/
    height: 50%; 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}  
.imagen-port > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
} 

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0); 
    background: rgba(205, 219, 211, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.hover-galeria img {
    width: 50px;
}
.hover-galeria p {
    color:#fff;
}
.imagen-port:hover .hover-galeria{
    /*transform: scale(0);  Cambiar tb linea de -hover-galeria- transform: scale(0)*/
    transform: scale(1);
}   

/* Ofertas */

.cards{
    display: flex;
    justify-content: space-evenly;
    background: rgb(205, 219, 211);
} 

.cards .card{
    background: white;
    display: flex;
    width: 46%;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);   
    padding: 10px; 
} 
.cards .card img{ 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid rgb(86, 207, 86);
    border-radius: 50%;
    display: block;
} 

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
} 
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
} 
/* Como llegar */
/*
.imagen-mapa > img {
    width: 100px;
    padding: 10px;   
    display: flex;
    border-color: #0a0a0a;
    flex-direction: column;
    position: center;
    display: inline-block;
     
}  */

/* Acerca de nosotros */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
    }    
.servicio-cont {
    display: flex;
   /* justify-content: space-between;*/
    align-items: center;
}  
.servicio-ind {
    width: 48%;
    text-align: center;
} 
.servicio-ind img {
    width: 50%;
    align-self: center;
}
.servicio-ind h3 {
    margin: 10px 0;
}
/* Formulario de Contacto*/

.contenedor-contact {
    color: black;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, .4);
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color:rgb(8, 8, 8);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #05010fa9;
    color:rgb(86, 207, 86);
    padding: 20px;
}
#boton{
    cursor: pointer;
}

/* Footer */ 

footer{
    background: rgb(205, 219, 211);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
} 
.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(8, 8, 8);
} 
.content-foo{
    text-align: center;
    text-decoration: solid;
}    
.content-foo h4{
    color: rgb(86,207,86);
    border-bottom: 3px solid #0a0a0a;
    padding-bottom: 5px;
    margin-bottom: 10px;
}   
.content-foo p{
    color:black;
    text-decoration: solid
}   

.titulo-final{
    text-align: center;
    font-size: 90%;
    margin: 20px 0 0 0;
    color: #0c0c0c85;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    /* Galeria */
    .imagen-port{
        width: 44%;
    }

    /* Productos */
    
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card .card{
        width: 90%;
    }    
    .card .card:first-child{
        margin-bottom: 30px;
    }
    
    /* Servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-ind img{
        width: 90%;
    }

     /* Footer */
        
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }    
    .contenedor-foo{
        margin-bottom: 20px;
        text-align: center;
    }    
    .content-foo h4{
        border: none;
    }    
    .content-foo p{
        color:rgb(0, 14, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid rgb(0, 14, 0);
        padding-bottom: 20px;      
    }
    .titulo-final{
        font-size: 55%; 
        color:rgb(0, 14, 0);
        }
    }

    @media screen and (max-width:500px){
        nav{
            text-align: center;
            padding: 30px 0 0 0;
        }     
        nav >a{
            margin-right: 5px;
        }

        .textos-header h1{
            font-size: 35px;
        }   
        .textos-header h2{
            font-size: 20px;
        }
        /* Acerca de nosotros */
        .imagen-about-us{
            margin-bottom: 60px;
            width: 90%;
        }  

        .sobre-nosotros .contenido-textos{
            width: 95;
        }
        /* Galeria */
         
        .imagen-port{
            width: 95%;
        }
        .cards .card{
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cards .card img{
            width: 90px;
            height: 90px;
        }
      
        /* Formulario de Contacto*/

        .form{
            width: 100%;
        }

        /* Footer */
        
        .contenedor-footer{
            flex-direction: column;
            border: none;
        }    
        .contenedor-foo{
            margin-bottom: 20px;
            text-align: center;
        }    
        .content-foo h4{
            border: none;
        }    
        .content-foo p{
            color:rgb(0, 14, 0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid rgb(0, 14, 0);
            padding-bottom: 20px;
            }
        .titulo-final{
            font-size: 55%; 
            color:rgb(0, 14, 0);
            }
}